@media (max-width: 767px)
{
	.page-title{
		font-size: 28px;
	}

	.text-block_marg{
		margin-top: 16px;
	}

	.text-block h2{
		font-size: 22px;
		margin-bottom: 16px;
	}

	.text-block * + h2 {
		margin-top: 26px;
	}

	.text-block blockquote{
		margin-bottom: 20px;
		padding: 17px 19px;
	}

	.text-block * + blockquote {
		margin-top: 20px;
	}


	.header__logo{
		top: 18px;
	}
	
	.header__logo img{
		width: 103px;
	}


	.section-head{
		justify-content: space-between;
	}

	.main-title{
		font-size: 22px;
	}

	.section-head .btn-more{
		margin-top: 0;
		line-height: 28px;
		background: none;
		border-radius: 0;
		padding: 0;
		color: #919191;
	}


	.main-slider__slide{
		min-height: 193px;
	}

	.main-slider__logo {
		top: 22px;
		left: 26px;
		width: 153px;
	}

	.main-slider__wrap{
		width: 169px;
		padding: 22px 0 24px 26px;
	}

	.main-slider__title{
		font-size: 16px;
	}

	.main-slider__desc{
		font-size: 12px;
		margin-top: 10px;
	}

	.main-slider__btn{
		margin-top: 18px;
	}

	.main-slider__btn .btn-red{
		padding: 0;
		width: 100%;
		line-height: 38px;
	}

	.slider-pagination._main{
		position: relative;
		bottom: 0;
		margin-top: 11px;
		padding: 0;
		width: 100%;
		justify-content: center;
	}

	.slider-pagination._main .slider-dot{
		opacity: 1;
		background-color: #BFBFBF;
	}

	.slider-pagination._main .slider-dot.slider-dot_active {
		opacity: 1;
		background: #373737;
	}

	
	.section-cats_marg{
		margin-top: 18px;
	}

	.section-cats.swiper{
		overflow: visible;
	}

	.section-cats.swiper .swiper-slide{
		width: 116px;
	}

	.section-cats .slider-pagination{
		display: none;
	}

	.section-cats__grid{
		display: none;
	}


	.products__slider{
		margin-top: 19px;
		overflow: visible;
	}

	.products__slider .slider-pagination{
		display: none;
	}

	.slider-scrollbar{
		display: block;
	}

	.products__grid {
		margin: -15px 0 0 -8px;
		--products-count: 3;
	}

	.products__grid._mob{
		display: flex;
		justify-content: flex-start;
		align-items: stretch;
		align-content: stretch;
		flex-wrap: wrap;
		margin-top: 4px;
	}

	.products__grid_cats{
		margin-top: 4px;
	}

	.products__grid .product {
		width: calc(100% / var(--products-count) - 8px);
		margin: 15px 0 0 8px;
	}

	.products__grid_cats .product:nth-child(n + 7){
		display: none;
	}

	.product-stock__number{
		font-size: 13px;
	}

	.product-stock__name{
		font-size: 14px;
	}

	.product__buy{
		line-height: 32px;
	}

	.amount__btn{
		width: 32px;
		height: 32px;
	}

	.amount__input{
		height: 19px;
	}

	.amount__sum{
		margin-top: 0;
	}

	.btn-wrap._mob{
		margin-top: 15px;
		display: block;
	}


	.recipes__slider{
		margin-top: 19px;
		overflow: visible;
	}

	.recipes__slider .swiper-slide{
		width: 307px;
	}

	.recipes__recipe-wrap {
        padding-left: 18px;
        padding-right: 18px;
    }

	.recipes__slider .slider-pagination{
		display: none;
	}


	.contacts_marg{
		margin-top: 16px;
	}

	.contacts__title{
		width: 100%;
		margin-bottom: 18px;
	}

	.contacts__col{
		width: 100%;
		max-width: none;
	}


	.product-info__top{
		margin-top: 24px;
	}

	.product-info__top-flex{
		order: 2;
	}

	.product-info__sticker{
		margin-top: 0;
		margin-bottom: 6px;
	}

	.product-info__images{
		width: 100%;
		order: -1;
		margin-top: 0;
		position: relative;
	}

	.product-info__review{
		display: none;
	}

	.product-info__images .product-info__review{
		display: flex;
		position: absolute;
		bottom: 28px;
		right: 12px;
		z-index: 10;
		border-radius: 2px;
		background: #fff;
		padding: 3px 7px;
	}

	.product-info__thumbs{
		display: none;
	}

	.product-info__data{
		width: 100%;
		margin-top: 16px;
	}

	.product-info__buy{
		line-height: 48px;
	}

	.product-info__slider{
		padding-bottom: 16px;
	}

	.product-info__slider .slider-pagination{
		bottom: 0;
	}

	.product-info__slider .slider-dot{
		opacity: 1;
		background: #BFBFBF;
	}

	@media (any-hover: hover){
		.product-info__slider .slider-dot:hover{
			opacity: 1;
			background: #373737;
		}
	}

	.product-info__slider .slider-dot.slider-dot_active {
		opacity: 1;
		background: #373737;
	}

	.reviews__item-oder{
		width: calc(100% - 20px);
	}

	.product-info .share-btn{
		margin-left: 20px;
	}

	.comment{
		margin-top: 25px;
		padding-left: 25px;
	}


	.reviews__ratings {
		margin-top: 0;
	}

	.reviews__ratings-item {
		margin-top: 17px;
		width: calc(100% / 2 - 15px);
	}

	.reviews__ratings-item._big{
		width: calc(100% - 15px);
	}


	.mini-modal__btn_sort{
		width: 38px;
		height: 38px;
		padding: 0;
	}

	.mini-modal__btn_sort span{
		display: none;
	}

	.mini-modal__btn_sort svg{
		display: none;
	}

	.mini-modal__btn_sort::before{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: url(../images/sort.svg) 50% no-repeat;
	}


	.article {
		width: calc(100% / 2 - 12px);
	}

	.article:nth-child(10n-1) .article__pad,
	.article:nth-child(10n) .article__pad{
		padding-top: 13px;
	}

	.article:nth-child(10n-1) .article__name,
	.article:nth-child(10n) .article__name{
		font-size: 13px;
		padding-bottom: 0;
	}

	.article__flex {
        width: auto;
    }

	.article:nth-child(10n-1) .article__img,
	.article:nth-child(10n) .article__img{
		padding-bottom: 93.83%;
	}


	.main-articles_marg{
		margin-top: 15px;
	}

	.main-articles__article-logo{
		top: 36px;
		left: 6.5%;
		width: 44.6%;
	}

	.main-articles__article-wrap{
		padding: 18px 0 16px 20px;
		width: 45%;
		min-width: 188px;
		min-height: 1px;
	}

	.main-articles__article-flex{
		margin-bottom: 17px;
	}

	.main-articles__article-date{
		margin-bottom: 6px;
	}

	.main-articles__article-name{
		font-size: 16px;
	}

	.main-articles__items{
		margin-top: 15px;
	}


	.addresses__items{
		margin-top: 24px;
	}

	.address-radio + .address-radio{
		margin-top: 24px;
	}

	.address-radio__wrap{
		padding-right: 0;
		flex-wrap: wrap;
	}

	.address-radio__top{
		position: relative;
		padding-right: 24px;
		display: inline-block;
	}

	.address-radio__icon{
		top: 1px;
		margin-top: 0;
	}

	.address-radio__main{
		margin: 9px 0 0;
	}

	.address-radio__wrap::before{
		top: 10px;
		margin-top: 0;
	}


	.info-order__coll{
		width: 100%;
		max-width: none;
	}

	.info-order__receipt{
		width: 42px;
		height: 34px;
		padding: 0;
	}

	.info-order__receipt::before{
		left: 50%;
		margin-left: -12px;
	}

	.info-order__receipt span{
		display: none;
	}
	
	.info-order__main-title{
		width: 100%;
		margin-right: 0;
		padding-top: 5px;
	}

	.info-order__sticker{
		margin-top: 7px;
	}

	.order-products__produt-photo{
		margin-right: 18px;
	}

	.about-order__line._flex{
		flex-wrap: wrap;
	}

	.order-pay{
		width: 100%;
		margin: 14px 0 0;
		line-height: 40px;
	}

	.info-order__colr{
		width: calc(100% + 32px);
		max-width: none;
		margin: 42px -16px 0;
		padding: 22px 16px 0;
		border-top: 1px solid #EBE8E5;
	}

	.info-order__colr-title{
		font-size: 22px;
		font-weight: 500;
	}

	.info-order__open{
		font-size: 22px;
		font-weight: 500;
	}

	.about-order__val{
		max-width: 160px;
	}

	.order-total{
		padding-top: 0;
		border-top: none;
	}

	.form-comment__textarea{
		height: 68px;
	}


	.rate-order{
		padding-left: 19px;
		padding-bottom: 27px;
	}

	.rate-order__title{
		width: 100%;
		text-align: center;
		margin-left: 0;
	}

	.rate-order__rating_marg{
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
	}

	.rate-order__btn{
		width: 100%;
		text-align: center;
		margin-left: 0;
	}

	.rating-cancel,
	.star-rating{
		width: 34px;
		height: 34px;
	}


	.checkout-info__name{
		width: 150px;
	}

	.method-obtaining_big .checkout-info__name{
		width: 100%;
	}

	.form-review .star-rating{
		width: 26px;
		height: 26px;
	}

	.form-review .star-rating + .star-rating{
		margin-left: 2px;
	}

	.form-review__ratings-item{
		width: calc(100% - 8px);
		padding-top: 21px;
		padding-bottom: 21px;
		justify-content: space-between;
		margin-top: 8px;
	}

	.products-review__product-top{
		display: block;
		margin-bottom: 26px;
	}
	
	.products-review__product-bord{
		width: 100%;
	}

	.products-review__product-name{
		max-width: none;
	}

	.products-review .form-review__totlal{
		margin: 25px 0 0 0;
	}

	.products-review .form-review__totlal-title{
		margin: 0 25px 0 0;
	}

	.form-review__totlal-title{
		margin: 0 35px 0 25px;
	}

	.form-review__ratings{
		margin-top: 22px;
		margin-bottom: 25px;
	}


	.cookie-fix{
		width: 100%;
		border-radius: 0;
		bottom: 0;
		padding-left: 20px;
	}

	.cookie-fix__icon{
		margin-right: 20px;
	}

	.cookie-fix__btn{
		margin-left: 20px;
		width: 110px;
	}


	.footer{
		padding-top: 30px;
		padding-bottom: 25px;
	}

	.footer__logo{
		display: none;
	}

	.callback-btn{
		order: 2;
		width: 100%;
		margin-top: 20px;
	}

	.footer__time{
		margin: 10px 0 0;
		width: 100%;
		text-align: center;
	}

	.footer__time br{
		display: none;
	}

	.footer__phones{
		margin: 0;
		width: 100%;
		justify-content: center;
	}

	.footer__phones-sep {
		margin: 0 15px;
	}

	.footer__phone {
		font-size: 18px;
	}

	.footer__top{
		padding-bottom: 25px;
	}

	.footer__info{
		padding-top: 20px;
	}

	.footer__menu-col{
		width: calc(50% - 10px);
		margin-top: 10px;
	}

	.footer__menu-item + .footer__menu-item{
		margin-top: 10px;
	}

	.footer-subscribe{
		margin-bottom: 14px;
	}

	.footer__bot{
		margin-top: 25px;
	}

	.footer__socials{
		width: 100%;
		order: -1;
		justify-content: flex-start;
	}

	.footer__copy{
		width: 100%;
		margin-top: 20px;
	}

	.footer__policy{
		width: 100%;
		margin-top: 10px;
	}

	.footer_checkout .callback-btn{
		margin-bottom: 23px;
		order: -1;
		margin-top: 0;
	}

	.footer_checkout .footer__copy{
		margin-top: 0;
		text-align: center;
	}

	.footer_checkout .footer__policy{
		margin-top: 15px;
		text-align: center;
	}


	.fancybox__slide
	{
		padding: 12px 0;
	}
	
	.form_time .form__submit{
		position: sticky;
		bottom: -12px;
		z-index: 10;
	}

	.info-obtaining{
		position: relative;
		padding-bottom: 65px;
		flex-direction: column;
		justify-content: flex-start;
	}

	.info-obtaining._big{
		min-height: 770px;
	}

	.info-obtaining__coll{
		padding-bottom: 0;
		width: 100%;
	}

	.info-obtaining__coll-wrap{
		min-height: 1px;
		padding-bottom: 0;
		position: static;
	}

	.info-obtaining .addresses{
		max-width: none;
	}

	.addresses__items_scroll{
		max-height: 408px;
		margin-top: 0;
	}

	.info-obtaining__colr{
		width: 100%;
		margin-top: 20px;
		display: none;
		position: relative;
		flex-grow: 1;
	}

	.info-obtaining__colr._show{
		display: block;
	}

	.info-obtaining__map{
		height: 453px;
	}

	.form__submit_abs{
		position: absolute;
		bottom: 5px;
		padding-left: 0;
		padding-right: 0;
		margin-top: 0;
	}

	.form__submit_abs .form__submit-btn_big{
		line-height: 50px;
	}

	.radio-obtaining__text{
		height: 40px;
	}

	.open-map{
		display: block;
		position: absolute;
		bottom: 65px;
		left: 0;
		width: 100%;
		height: 30px;
		font: 500 13px/20px var(--font-family);
		color: #262323;
		transition: color .2s linear;
		z-index: 10;
	}

	.open-map span{
		position: relative;
		display: inline-block;
		padding-left: 25px;
	}

	.open-map svg{
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		width: 20px;
		height: 20px;
		fill: none;
		stroke: currentColor;
	}

	.modal-list{
		padding-bottom: 40px;
	}

	.modal-list._hide{
		display: none;
	}

	.open-list{
		position: absolute;
		left: 10px;
		bottom: 7px;
		width: calc(100% - 20px);
		background: #fff;
		border-radius: 4px;
		box-shadow: 0 1px 1px 0 rgba(103, 92, 86, 0.09), 0 2px 2px 0 rgba(103, 92, 86, 0.08), 0 5px 3px 0 rgba(103, 92, 86, 0.04), 0 8px 3px 0 rgba(103, 92, 86, 0.01), 0 13px 4px 0 rgba(103, 92, 86, 0);
		height: 45px;
		font: 500 13px/21px var(--font-family);
		color: #262323;
		z-index: 20;
		display: block;
	}

	.open-list span{
		position: relative;
		display: inline-block;
		padding-left: 29px;
	}

	.open-list svg{
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		width: 21px;
		height: 21px;
		fill: none;
		stroke: currentColor;
	}

	.no-adress{
		margin-top: 58px;
		margin-bottom: 65px;
	}

	.info-obtaining__coll .info-obtaining__map{
		display: block;
		width: 100%;
		position: static;
		top: 0;
		left: 0;
		margin-top: 10px;
		height: 200px;
	}

	.increase-map{
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 30;
	}

	.info-obtaining__map-wrap{
		position: relative;
	}

	.info-obtaining__map-wrap._show .increase-map{
		display: none;
	}

	.info-obtaining__map-wrap._show{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: calc(100% - 161px);
		z-index: 50;
	}

	.form__line_abs._show{
		position: absolute;
		left: 0;
		bottom: 53px;
		width: 100%;
		background: #fff;
		padding: 15px 6px 0;
		z-index: 50;
	}

	.form__line_abs._show .dropdown-adresses{
		display: none;
	}

	.add-adress_h{
		min-height: 689px;
	}

	.form_adress{
		padding-bottom: 10px;
	}

	.fancybox__content.modal_big .carousel__button.is-close{
		box-shadow: none;
		width: 24px;
		height: 24px;
		top: 22px;
		right: 10px;
	}

	.spoiler-text{
		-webkit-line-clamp: 6;
	}

	.info-order .reviews__ratings-item {
		width: calc(100% / 2 - 20px);
	}
	
	.info-order .reviews__ratings-item._big {
		width: calc(100% - 15px);
	}


	.out-map{
		position: absolute;
		top: 8px;
		right: 8px;
		width: 40px;
		height: 40px;
		justify-content: center;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;
		background: #fff;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
		border-radius: 3px;
		z-index: 42;
		color: #919191;
	}

	.info-obtaining__map-wrap._show .out-map{
		display: flex;
	}

	.out-map svg{
		display: block;
		width: 14px;
		height: 14px;
		fill: currentColor;
		stroke: currentColor;
	}
}