@media (max-width: 479px)
{
	.header__time-title br{
		display: inline;
	}



	.products__grid {
		--products-count: 2;
	}

	.products__slider .swiper-slide{
		width: calc(50% - 4px);
	}

	.aside-cart .products__slider .swiper-slide{
		width: 132px;
	}


	.contacts__map{
		height: 220px;
	}


	.product-info .page-title {
		font-size: 24px;
	}


	.article {
		width: calc(100% - 12px);
		margin-top: 15px;
	}

	.article:nth-child(10n-1),
	.article:nth-child(10n) {
		width: calc(100% - 12px);
	}

	.article__img{
		padding-bottom: 52.5%;
	}

	.article:nth-child(10n-1) .article__img,
	.article:nth-child(10n) .article__img{
		padding-bottom: 52.5%;
	}

	.form_lk{
		max-width: none;
	}
	
	.form__bot .form__submit{
		width: 100%;
		margin-right: 0;
	}

	.form .form__submit-btn{
		width: 100%;
		min-width: 1px;
		padding: 0;
	}

	.forgot-password{
		width: 100%;
		text-align: center;
	}


	.about-sale__form{
		padding: 19px 19px 24px;
	}


	.orders__item{
		padding-right: 19px;
		padding-left: 33px;
		padding-top: 48px;
	}

	.orders__item-date{
		position: absolute;
		left: 33px;
		top: 23px;
	}


	.my-orders__item{
		padding-left: 19px;
	}

	.my-orders__name{
		width: 100%;
		margin-bottom: 5px;
		margin-right: 0;
	}
	
	.my-orders__flex{
		flex-wrap: wrap;
	}

	.my-orders__flex-coll{
		width: 100%;
		padding-bottom: 7px;
		border-bottom: 1px solid #EBE8E5;
	}

	.my-orders__btn{
		margin: 14px 0 0;
	}


	.footer-subscribe{
		flex-wrap: wrap;
	}

	.footer-subscribe__title{
		width: 100%;
		font-size: 18px;
		margin-right: 0;
		margin-bottom: 15px;
	}

	.footer__menu-col{
		width: 100%;
	}
}