@media (max-width: 479px)
{
	.header__time-title br{
		display: inline;
	}



	.products__grid {
		--products-count: 2;
	}

	.products__slider .swiper-slide{
		width: calc(50% - 4px);
	}

	.aside-cart .products__slider .swiper-slide{
		width: 132px;
	}


	.contacts__map{
		height: 220px;
	}


	.product-info .page-title {
		font-size: 24px;
	}


	.article {
		width: calc(100% - 12px);
		margin-top: 15px;
	}

	.article:nth-child(10n-1),
	.article:nth-child(10n) {
		width: calc(100% - 12px);
	}

	.article__img{
		padding-bottom: 52.5%;
	}

	.article:nth-child(10n-1) .article__img,
	.article:nth-child(10n) .article__img{
		padding-bottom: 52.5%;
	}


	.footer-subscribe{
		flex-wrap: wrap;
	}

	.footer-subscribe__title{
		width: 100%;
		font-size: 18px;
		margin-right: 0;
		margin-bottom: 15px;
	}

	.footer__menu-col{
		width: 100%;
	}
}